<a href="https://colab.research.google.com/github/Nath0707/Introduccion_a_Python-Curso_Online/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Variables
numero = 17
decimal = 0.7
texto = "texto"
boolean = True

print(numero)
print(type(numero))

17
<class 'int'>

In [8]:
tupla = ('hola', 2)
lista = [1,2,3,4,5]
set_ = {1,2,3,4,5,1}
diccionario = {2:2, 3:2}

print(tupla)
print(type(tupla))
print(lista)
print(type(lista))
print(set_)
print(type(set_))
print(diccionario)
print(type(diccionario))

('hola', 2)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>
{1, 2, 3, 4, 5}
<class 'set'>
{2: 2, 3: 2}
<class 'dict'>

In [9]:
#conversi√≥n de variables
a=3
b="12"
c=a*b
print(c)

121212

In [14]:
r="12"
r="12.7"
print(type(r))
r= float(r)
#r=str(r)
#r= int(r)
print(type(r))
#s=r+"t"
s=r+2
print(s)

<class 'str'>
<class 'float'>
14.7

In [16]:
edad= float(input("Edad: "))
print(edad)
print(type(edad))
edadn= edad+2*3
print(edadn)

Edad: 20
20.0
<class 'float'>
26.0